* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.home-container {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0;
	padding: 0;

	font-family: Verdana, Tahoma, sans-serif;
}

.navigation-bar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 55px;

	padding: 0px 30px 0px 30px;

	gap: 30px;
	background-color: #131921;
}

.logo {
	color: white;
	font-size: 30px;
	font-weight: 600;
}

.search-bar-container {
	display: flex;
	align-items: center;

	flex: 1;
	max-width: 750px;
}

.category-Selector {
	height: 40px;

	padding: 10px 10px 10px 10px;

	border: none;
	border-radius: 4px 0px 0px 4px;

	background-color: #e6e6e6;

	font-size: 14px;
	color: #595959;
}

.search-bar-container input {
	flex: 1;
	height: 40px;

	text-indent: 10px;
	font-size: 16px;

	outline: none;

	border: 2px solid transparent;
}

.search-bar-container input:focus {
	border: 2px solid #FF9900;
}

.search-btn {
	height: 40px;

	padding: 10px 20px 10px 20px;

	border: none;
	border-radius: 0px 4px 4px 0px;

	background-color: #febd69;

	font-size: 18px;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	gap: 20px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.nav-links a:hover {
	color: #FF9900;
}

.accounts-btn {
	display: flex;
	align-items: center;

	padding: 6px;

	border-radius: 2px;
	border: 1px solid transparent;

	background-color: rgb(19, 25, 33);

	z-index: 2;
}

.accounts-btn:hover {
	border: 1px solid white;
}

.profile-img {
	display: block;
	object-fit: cover;

	width: 35px;
	height: 35px;

	margin-right: 10px;
	border-radius: 50%;

	filter: invert();
}

.accounts-btn p {
	color: white;
	text-decoration: none;
	font-size: 24px;

	margin-right: 10px;
}

.arrow-img {
	display: block;
	object-fit: cover;

	width: 30px;
	height: 30px;

	transform: rotate(90deg);
}

.userMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 100%;
	left: 0px;

	width: 194.5px;
	padding: 10px;

	background-color: #ffffff;

	border-radius: 4px;
	box-shadow: #000000 0px 0px 2px 0px;

	z-index: 1;
}

.userMenu a {
	color: black;
	text-decoration: none;
	font-size: 1.5rem;
}

.userMenu a:hover {
	color: black;
}

.cart-btn {
	display: flex;
	align-items: center;

	padding: 6px;

	border-radius: 2px;
	border: 1px solid transparent;
}

.cart-btn:hover {
	border: 1px solid white;
}

.cart-btn img {
	display: block;
	object-fit: cover;

	width: 35px;
	height: 35px;

	margin-right: 5px;
}

.cart-btn p {
	color: white;
	font-size: 24px;
}

.category-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	height: 200px;

	margin: 20px 70px;
}

.categories {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	overflow: hidden;

	padding: 20px;

	gap: 20px;
}

.categories a {
	display: block;
	text-decoration: none;

	color: black;
}

.category-img {
	display: block;
	object-fit: cover;

	width: 150px;
	height: 150px;
}

.category-icon-name {
	margin-top: 10px;
	text-align: center;
}

.pre-category-btn,
.next-category-btn {
	position: absolute;

	padding: 32px 12px;

	border: none;
	background-color: rgba(255, 255, 255, 0.5);

	color: black;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pre-category-btn {
	top: 30%;
	left: 0;
}

.next-category-btn {
	top: 30%;
	right: 0;
}

.category-icon-container:hover .pre-category-btn,
.category-icon-container:hover .next-category-btn {
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;

	box-shadow: #7d7d7d 0px 0px 2px 0px;
}

.deal-container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	margin: 0px 50px;
}

.deals {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	overflow: hidden;
}

.deals a {
	display: block;

	width: 100%;
	height: 100%;
}

.deal-img {
	display: block;

	width: 1584px;
	height: 480px;
}

.pre-deal-btn,
.next-deal-btn {
	position: absolute;

	padding: 32px 12px;

	border: none;
	background-color: rgba(255, 255, 255, 0.5);

	color: black;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pre-deal-btn {
	left: 0;
	top: 40%;
}

.next-deal-btn {
	right: 0;
	top: 40%;
}

.deal-container:hover .pre-deal-btn,
.deal-container:hover .next-deal-btn {
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;

	box-shadow: #7d7d7d 0px 0px 2px 0px;
}

.scrollDotContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 10px;
	gap: 10px;
}

.scrollDot {
	width: 10px;
	height: 10px;

	border-radius: 50%;
	background-color: #595959;
}

.sale {
	display: flex;
	justify-content: center;

	width: 100%;

	margin: 30px 0px;
}

.category {
	margin: 0px 50px;
}

.category-title {
	font-size: 24px;

	margin-bottom: 10px;
}

.top-deals {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;


}

.sub-category-container {
	display: flex;
	justify-content: center;

	margin: 30px 0px;
}

.sub-categories {
	display: flex;

	gap: 10px;
}

.sub-category {}

.sub-category-img {
	display: block;
	object-fit: cover;

	width: 250px;
	height: 250px;
}